.bar-chart {
    background-color: rgb(48, 48, 48);
	margin: auto;
}
    
.bars {
    fill: rgb(76, 179, 210);
}

.bars-hovered {
	fill: rgb(105, 198, 255);
}

.axis, .axis line, .domain, .tick {
	stroke: rgb(76, 179, 210);
	color: rgb(76, 179, 210);
}

.container-fluid {
	height: auto;
	min-height: 5px;
}

.bar-chart-container {
	width: min-content;
	padding-top: 10px;
}

.tip {
	fill: rgb(82, 82, 82);
}

.nav-container {
	background-color: skyblue;
	align-content: center;
	height: 50px;
}

.button-container {
	width: min-content;
	height: 100%;
	margin: auto;
	vertical-align: middle;
}

button {
	background: transparent;
	border: transparent;
	border-bottom: 2px transparent solid;
	vertical-align: middle;
}

button:hover {
	cursor: pointer;
	border-bottom: 2px blue solid;
}

.nav-btn:active, .nav-btn:focus {
	outline: none !important;
	box-shadow: none !important;
}